/* ------google fonts------ */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600&display=swap');
/* -----global css--------- */
*,*::after,*::before{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
font-family: 'Raleway', sans-serif;
font-weight: 400;
font-size: 62.5%;
box-sizing: inherit;

}
/* -------global class------ */
.p{
padding: 0px 150px;
}
/* ---heading style------ */
header{
    width: 100%;
    height: 80vh;
    background-image: url(./img/hero1.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: -2;
}
header::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(34, 34, 34, 0.52);
    z-index: -1;
   
}
/* -----navbar design----- */
nav{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo span{
    font-size: 3rem;
    color: white;
}
button{
    width: 120px;
    height: 40px;
    font-size: 1.2rem;
    border-radius: 20px;
    border: 2px solid white;
    color: white;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
button a{
    color: white;
    text-decoration: none;
    
}
/* -------hero design----- */
.hero{
    width: 100%;
    height: calc(80vh - 15vh);
    margin-top: 3rem;
}
.hero-left{
    width: 50%;
}
.sub-heading{
    font-size: 1.8rem;
    font-weight: 600;
    color: white;
}
.main-heading{
    font-size: 2.3rem;
    font-weight: 700;
    color: white;
}
.text p{
    color: white;
    font-size: 1.2rem;
    font-weight: 200;
    line-height: 1.8;
}
.different{
width: 17rem;
height: 50px;
background-color: #7318E2;
border: none;
margin-top: 20px;
cursor: pointer;
}
.Report{
    width: 100%;
    height: 40vh;
    background-color: #100E26;
}